@font-face {
  font-family: "iconfont"; /* Project id 2533087 */
  src: url('iconfont.woff2?t=1656923592007') format('woff2'),
       url('iconfont.woff?t=1656923592007') format('woff'),
       url('iconfont.ttf?t=1656923592007') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Lv6:before {
  content: "\e774";
}

.icon-Lv4:before {
  content: "\e76f";
}

.icon-Lv3:before {
  content: "\e770";
}

.icon-Lv1:before {
  content: "\e772";
}

.icon-Lv2:before {
  content: "\e773";
}

.icon-Lv5:before {
  content: "\e775";
}

.icon-about:before {
  content: "\e671";
}

.icon-setUp:before {
  content: "\e606";
}

.icon-quit:before {
  content: "\e607";
}

.icon-user-picture:before {
  content: "\e681";
}

.icon-writeArticle:before {
  content: "\e608";
}

.icon-follow:before {
  content: "\e64f";
}

.icon-personal-center:before {
  content: "\e604";
}

.icon-intro:before {
  content: "\e6b8";
}

.icon-office:before {
  content: "\e8b7";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-achievement:before {
  content: "\e627";
}

.icon-rise:before {
  content: "\e602";
}

.icon-relat-article:before {
  content: "\ec64";
}

.icon-eye:before {
  content: "\e68f";
}

.icon-comment:before {
  content: "\e60e";
}

.icon-like:before {
  content: "\e61c";
}

.icon-backTop:before {
  content: "\e685";
}

.icon-reject:before {
  content: "\e67c";
}

.icon-feed-back:before {
  content: "\e699";
}

.icon-resolve:before {
  content: "\e696";
}

.icon-feedbacks:before {
  content: "\e62f";
}

.icon-fullscreen:before {
  content: "\e6e5";
}

.icon-visitRecord:before {
  content: "\e61b";
}

.icon-home:before {
  content: "\e617";
}

.icon-packUp:before {
  content: "\e62e";
}

.icon-theme:before {
  content: "\e65b";
}

.icon-logOut:before {
  content: "\e63b";
}

.icon-profile:before {
  content: "\e601";
}

.icon-bell:before {
  content: "\e600";
}

.icon-message:before {
  content: "\e603";
}

.icon-disable:before {
  content: "\e663";
}

.icon-enable:before {
  content: "\e69e";
}

.icon-minus1:before {
  content: "\e828";
}

.icon-role:before {
  content: "\e74e";
}

.icon-add:before {
  content: "\e61e";
}

.icon-delete:before {
  content: "\e684";
}

.icon-rights:before {
  content: "\e611";
}

.icon-expand:before {
  content: "\e655";
}

.icon-edit:before {
  content: "\e8c3";
}

.icon-user:before {
  content: "\f2dc";
}

.icon-rightsRole:before {
  content: "\e637";
}

.icon-organization:before {
  content: "\e62a";
}

.icon-dashboard:before {
  content: "\e714";
}

.icon-projectManage:before {
  content: "\e610";
}

